main {
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    max-width: 500px;
    padding: 50px 0 0 0;
}

.container img {
    width: 600px;
}

@media screen and (max-width: 600px) {
    .container img {
        width: 400px;
    }
}

.info .parts h3 {
    font-size: 2.2rem;
    font-weight: bold;
}

.info .parts p {
    font-size: 1.6rem;
    margin-bottom: 10px;
}

.info .description {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    min-height: 200px;
}

.info .size-paragraph {
    white-space: pre-line;
    font-size: 1.2rem;
    line-height: 1.2;
}

.info .size-paragraph span {
    font-weight: bold;
    font-size: 1.6rem;
}

form #size {
    text-align: start;
    margin: 20px 0 20px 30px;
    padding: 10px 40px 10px 5px;
}

input[type="button"] {
    font-size: 1.2rem;
    font-weight: bold;
    background-color: rgb(15, 83, 72);
    color: #fff;
    border: none;
    padding: 15px 25px;
    cursor: pointer;
    border-radius: 5px;
    margin: 25px 0px;
    min-width: 100%;
}

input[type="button"]:hover {
    background-color: rgb(3, 62, 52);
}

footer {
    position: relative;
    bottom: 0;
}


