@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'protest';
    src: url('../font/Protest.ttf') format('truetype'),
         url('../font/Protest.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto Condensed", sans-serif;
}

.alternate {   
    font-size: 1.4rem;
    background-color: #000;
    color: #fff;
    position: relative;
    width: 100%;
    height: 25px;
    overflow: hidden;
}

@media screen and (max-width: 600px) {  
    .alternate {
        font-size: 1rem;
    }
}

.texto-alternado {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: alternar 3s infinite;
}

@keyframes alternar {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

.texto-alternado {
    opacity: 0;
    animation: alternar 6s infinite;
}

.texto-alternado:nth-child(2) {
    animation-delay: 3s; 
}

@keyframes alternar {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

.topo {
    position: absolute;
    height: 100vh;
    width: 100%;
}

.fundo {
    height: 100vh;
    width: 100%;
    background-image: url('../img/fundo/Lookbook_D2_2024_17.jpg'); 
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -1; 
}

header {
    font-family: "Jersey 20";
    background-color: rgb(0, 0, 0); 
    position: relative;
    top: 0;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 0 35px;
    height: 100px;
    width: 100%;
}

header nav a .logo {
    list-style-type: none;
    text-decoration: none;
    font-family: 'protest', sans-serif;
    color: #fff;
    font-size: 2rem;
    transition: transform 0.3s ease;   
}

header nav a .logo::after {
    font-size: 0.3em;
    content: '©';
}

header nav a .logo:hover {
    transform: scale(1.1);
}

header nav a {
    list-style-type: none;
    text-decoration: none;
}

header .header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #ccc;
    font-size: 1.4rem;
    font-weight: bold;
}

header .header-icon span {
    color: #ccc;
}

header .header-icon span:hover {
    color: white;
}

p {
    line-height: 32px;
}

footer {    
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #000;
    color: #ccc;
    height: 50px;
    margin-top: 25px;
}

footer p {
    font-family: "Jersey 20";
}

footer i {
    margin: 0 5px;
    font-size: 1.2rem;
}

footer a {
    margin-left: 5px;
    color: #ccc;
    text-decoration: underline;
}