@font-face {
    font-family: 'protest';
    src: url('../font/Protest.ttf') format('truetype'),
         url('../font/Protest.otf') format('opentype');
}

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.alternate {
    background-color: #000;
    color: #fff;
    font-size: 0.8rem;
    position: relative;
    width: 100%;
    height: 25px;
    overflow: hidden;
}

.texto-alternado {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: alternar 3s infinite;
}

@keyframes alternar {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

.texto-alternado {
    opacity: 0;
    animation: alternar 6s infinite;
}

.texto-alternado:nth-child(2) {
    animation-delay: 3s; 
}

@keyframes alternar {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

.fundo {
    height: 100vh;
    background-image: url('../img/fundo/Lookbook_D2_2024_17.jpg'); 
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; 
}

header {
    background-color: rgb(0, 0, 0); 
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 0 15px;
    height: 80px;
    width: 100%;
}

header nav a .logo {
    list-style-type: none;
    text-decoration: none;
    font-family: 'protest', sans-serif;
    color: #fff;
}

header nav a .logo::after {
    font-size: 0.3em;
    content: '©';
}

header nav a {
    list-style-type: none;
    text-decoration: none;
}

header .header-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #ccc;
    font-weight: bold;
}

header .header-social span {
    color: #ccc;
}

header .header-social span:hover {
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: #000;
    color: #ccc;
    height: 50px;
}

footer i {
    margin: 0 5px;
    font-size: 1.2rem;
}

footer a {
    margin-left: 5px;
    color: #ccc;
    text-decoration: underline;
}