* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #000;
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 0 15px;
    height: 80px;
    width: 100%;
}

.topo {
    height: calc(100vh - 80px);
    position: relative;
}

.fundo {
    height: 100%;
    width: 100%;
    background-image: url('../img/fundo/Lookbook_D2_2024_17.jpg'); 
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -1;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 25px 0px;
}

.titulo p {
    font-size: 1.5rem;
    font-weight: bold;
}

.titulo span {
    font-size: 1.2rem;
    color: #666; /* Cor do texto secundário */
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
    margin-bottom: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px; 
    width: 200px; 
    flex: 1 1 300px;
    padding: 10px;
    margin: 0px 10px 10px 10px;
}

.card img {
    width: 100%;
    min-height: 350px;
    max-height: 350px;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px; 
}

.card a {
    text-decoration: none;
    color: #000; 
}

.card p {
    margin-top: 10px;
    margin-bottom: 20px;
}



