@import url('../../components/paleta/paleta.css');

main {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    margin: 0;
    min-height: calc(100vh - 160px);
}

main form {
    max-width: 900px;
    margin: 0 auto;
    padding: 25px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px #0000001a;
}

.cart-header,
.cart-product {
    display: grid;
    grid-template-columns: 40px 1fr 110px 160px 70px 20px;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

.cart-header {
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #ddd;
    color: #555;
    font-size: 14px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 1;
}

.cart-product {
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    display: grid;
    grid-template-columns: 40px 1fr 150px 130px 130px 20px;
    align-items: center;
    gap: 15px;
    padding: 10px 0;
}

.cart-product:last-child {
    border-bottom: none;
}

.cart-header input[type="checkbox"],
.cart-product input[type="checkbox"] {
    cursor: pointer;
}

.cart-product input[type="button"] {
    cursor: pointer;
    font-size: 0.9rem;
    background: transparent;
    border: none;
}

.product-details {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-details img {
    width: 80px;
    height: auto;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.product-info {
    display: flex;
    flex-direction: column;
}

.product-info p {
    margin: 0;
    font-size: 14px;
    color: #333;
    font-weight: 500;
}

.product-info .size {
    font-size: 12px;
    color: #666;
}

.price,
.total-price {
    font-size: 16px;
    font-weight: bold;
    color: #666;
    text-align: center;
}

.quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.quantity button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-green);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
    width: 25px;
    height: 25px;
    transition: background-color 0.3s ease;
}

.quantity button:hover {
    background-color: var(--secondary-green)
}

.quantity input.quantity-input {
    width: 25px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
}

.cart-header,
.cart-product {
    display: grid;
    grid-template-columns: 40px 1fr 110px 160px 70px 20px;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

.payment-and-address {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.payment,
.address {
    width: 48%;
}

.payment-card,
.address {
    padding-bottom: 20px;
}

.payment h3,
.address h3 {
    font-size: 18px;
    font-weight: bold;
    color: #555;
    margin-bottom: 15px;
}

.payment-card label,
.address label {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    color: #555;
}

.payment-card input,
.address input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 14px;
}

.address button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    background-color: var(--primary-green);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.address button:hover {
    background-color: var(--secondary-green);
}

a {
    text-decoration: none;
}

.fill {
    font-size: 0.8rem;
    margin: 5px;
    width: 100%;
    color: red;
}

@media (width <= 800px) {
    main form {
        padding: 0px;
    }

    .cart-header, .cart-product {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr
    }

    main {
        padding: 25px 0;
    }

    .product-details {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .cart-product {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    .cart-product input[type="button"] {
        position: relative;
        bottom: 30px;
    }

    p {
        line-height: 20px;
    }
}
        
@media (width <= 450px) {
    .cart-and-payment {
        margin: 0;
        padding: 0;
    }

    .cart-header {
        font-size: 0.6rem;
    }
    
    .cart-header, .cart-product {
        gap: 15px;
        padding: 10px 0px;
    }

    .product-details img {
        width: 80px;
    }

    .product-info p {
        font-size: 10px;
    }

    span.price, 
    span.total-price {
        font-size: 12px;
    }

    .quantity {
        gap: 0;
    }

    .quantity button,
    .quantity input {
        width: 20px;
        height: 20px;
        font-size: 10px;
    }

    .payment-and-address {
        flex-direction: column;
    }

    .payment,
    .address {
        width: 100%;
    }

    .cep-card {
        grid-template-columns: 1fr;
    }

    .payment-card input,
    .address input {
        padding: 10px;
        font-size: 14px;
    }

    .adress button {
        font-size: 14px;
    }
}

@media (width <= 300px) {
    .cart-header, .cart-product {
        gap: 0;
    }
}