.cart-container {
    max-width: 60vw;
    margin: 0 auto;
    padding: 20px;
}

@media screen and (max-width: 1200px) {
    .cart-container {
        max-width: 90vw;
        padding: 10px;
    }
}

@media screen and (max-width: 1200px) {
    .cart-container {
        max-width: 95vw;
        padding: 5px;
    }
}

.cart-title {
    text-align: center;   
    font-size: 3rem;
    margin-bottom: 20px;
    padding: 25px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

thead th, tbody td {
    padding: 10px;
    text-align: center;
}

thead th {
    background-color: #ccc;
}

tbody td {
    vertical-align: middle;
}

tbody td img {
    max-width: 150px;
    max-height: 150px;
    margin-right: 10px;
}

input[type="button"] {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

input[type="number"] {
    width: 50px;
    padding: 5px;
}

tfoot {
    font-weight: bold;
}

.product {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #000;
    text-decoration: none;
}

select {
    padding: 8px;
    font-size: 0.8rem;
    border: 1px solid #ccc; 
    border-radius: 5px;
    background-color: #fff; 
    width: 120px;
}

select option {
    font-size: 0.8rem;
}

.table-mobile {
    display: none;
}

@media screen and (max-width:670px) {
    .table-desktop {
        display: none;
    }

    .table-mobile {
        display: flex;
        width: 100%;
        padding: 10px;
    }

    tr, td, th {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    tr {
        width: 100%;
    }

    th {
        width: 20%;
    }

    td {
        width: 80%;
    }

    tbody {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
}