@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sedan:ital@0;1&display=swap');

@import url('logo.css');
@import url('../../components/paleta/paleta.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: "Roboto Condensed", sans-serif;
}

.header {
    font-family: "Jersey 20";
    background-color: var(--primary-color); 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
    height: 100px;
    width: 100%;
}

.header__alternate {   
    font-size: 1.4rem;
    background-color: var(--primary-color);
    color: #fff;
    position: relative;
    width: 100%;
    height: 25px;
    overflow: hidden;
}

.header__text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: alternateTextOpacity 6s infinite;
}

.header__text:nth-child(2) {
    animation-delay: 3s; 
}

@keyframes alternateTextOpacity {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

@media (width <= 600px) {  
    .header__alternate {
        font-size: 1rem;
    }
}

.header__nav {
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 20px;
    color: #ccc;
    font-size: 1.2rem;
    font-weight: bold;
}

.nav__icon-link span{
    color: #ccc;
}

.nav__price {
    font-size: 1.4rem;
}

.nav__icon-link, .nav__price {
    color: #ccc;
    padding: 10px;
    border-radius: 10px;
}

.nav__icon-link:hover {
    background-color: #ccccccab;
}

.nav__icon-link:hover span {
    color: #fff;
}

@media (width <= 500px) {
    .header {
        gap: 5px;
        padding: 0;
        height: 140px;
    }
    
    .header__nav {
        flex-direction: column;
        padding: 0px;
        justify-content: center;
        align-items: center;
    }

    .nav__icon-container {
        align-items: space-between;
    }

    .logos {
        margin: 0;
    }
}

@media (width <= 220px) {
    .header {
        height: 180px;
    }

    header .header-icon {
        flex-wrap: wrap;
    }
}

p {
    line-height: 32px;
}

h3, footer {
    font-family: "Kanit", sans-serif;
}

.footer {  
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: var(--primary-color);
    color: #ccc;
    height: 60px;
    padding: 0 20px;
    font-size: 1.3rem;
}

footer a {
    color: #ccc;
    text-decoration: none;
}

.footer__network {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer a:hover {
    color: #fff;
    text-decoration: underline;
}

.footer__network .bi {
    padding: 10px; 
    color: #ccc;
    transition: font-size 0.3s ease;
}

.footer__network .bi:hover {
    color: #fff;
    font-size: 1.6rem;
    transition: 0.5s;
}

.footer_about:hover {
    color: #fff;
    text-decoration: underline;
}

@media (width <= 700px) {
    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 5px 0px;
        gap: 5px;
        height: 150px;
        font-size: 1rem;
    }

    .footer__network {
        flex-wrap: wrap;
        display: block;
        order: 3;
    }
}