@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sedan:ital@0;1&display=swap');

@import url('logo.css');
@import url('../../paleta/paleta.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto Condensed", sans-serif;
}

h3, footer {
    font-family: "Kanit", sans-serif;
}

.alternate-container {   
    font-size: 1.4rem;
    background-color: var(--primary-color);
    color: var(--seconday-color);
    position: relative;
    width: 100%;
    height: 25px;
    overflow: hidden;
}

@media (width <= 600px) {  
    .alternate-container {
        font-size: 1rem;
    }
}

.alternate-text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: alternar 3s infinite;
}

@keyframes alternar {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

.alternate-text {
    opacity: 0;
    animation: alternar 6s infinite;
}

.alternate-text:nth-child(2) {
    animation-delay: 3s; 
}

@keyframes alternar {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

header {
    font-family: "Jersey 20";
    background-color: var(--primary-color); 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: var(-);
    padding: 0 35px;
    height: 100px;
    width: 100%;
}

nav {
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

header nav a {
    list-style-type: none;
    text-decoration: none;
}

header .header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: #ccc;
    font-size: 1.4rem;
    font-weight: bold;
}

header .header-icon span {
    color: #ccc;
    padding: 10px;
    margin: 0px 10px;
    border-radius: 10px;
}

header .header-icon span:hover {
    background-color: #ccccccab;
    color: #fff;
}

@media (width <= 500px) {
    header {
        height: 120px;
    }
    
    header nav {
        padding: 5px;
        justify-content: center;
        align-items: center;
    }

    .logos {
        margin: 0;
    }
}

@media (width <= 768px) {
    header {
        position: sticky;
    }

    header nav a .logo {
        font-size: 1.5rem;
    }
}

p {
    line-height: 32px;
}

footer {    
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background: var(--primary-color);
    color: #ccc;
    height: 60px;
    padding: 0 20px;
    font-size: 1.3rem;
}

footer a {
    color: #ccc;
    text-decoration: underline;
}

.icon-network {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-network .bi {
    padding: 10px; 
    color: #ccc;
    transition: font-size 0.3s ease;
}

.icon-network .bi:hover {
    color: #fff;
    font-size: 1.6rem;
    transition: 0.5s;
}

@media (width <= 700px) {
    .icon-network {
        flex-wrap: wrap;
    }

    footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px 0px;
        gap: 5px;
        height: 120px;
        font-size: 1rem;
    }

    .icon-network {
        display: block;
        order: 3;
    }

    @media (width <= 340px) {
        footer {
            text-align: center;
            height: 200px;
        }
    }
}