@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('../../paleta/paleta.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Roboto Condensed", sans-serif;
}

body {
    background-color: #000;
}

header {
    font-family: "Jersey 20";
    background-color: var(--primary-color);
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 0 35px;
    height: 100px;
    width: 100%;
    transform: translateY(-80px);
    animation: headerAnimation 0.3s ease-in-out forwards
}

@keyframes headerAnimation {
    from {
        transform: translateY(-80px)
    }

    to {
        transform: translateY(0)
    }
}

.background-container {
    height: calc(100vh - 100px);
    position: relative;
}

.background-image {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    gap: 30px;
    height: 100%;
    width: 100%;
    background-image: url('../img/fundo/bg.jpg'); 
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -1;
    filter: opacity(0.65);
    box-shadow: inset 0px 0px 100px 100px rgba(0,0,0,0.52);   
}

.background-container {
    background-color: #000;
    z-index: -2;
}

.logos {
    margin: 0 10px;
    animation: animacaoLogo 2s infinite alternate;
}
  
@keyframes animacaoLogo {
0% {
    transform: scale(1);
}
100% {
    transform: scale(1.15);
}
}

.logos {
    height: 120px;
    width: 140px;
    margin-bottom: 75px;
    margin-right: 75px;
    filter: drop-shadow(5px 5px 15px rgb(255, 255, 255));
}

.logos:nth-child(2){
    filter: drop-shadow(5px 5px 5px #000000);
}

.logos:nth-child(3){
    height: 110px;
    width: 240px;
}

@media (width <= 850px) {
    .background-image {
        flex-direction: column;
        align-items: center;
        justify-content: center;  
        gap: 80px;      
    }

    .logos {
        margin: 30px;
        height: 80px;
        width: 100px;
    }

    .logos:nth-child(3){
        height: 60px;
        width: 140px;
    }
}

main {
    background-color: #fff;
}

.container-main {
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px 0px;
}

.product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 50px 100px;
    width: 100%;
}

.product-card {
    max-width: 320px;
    position: relative;
    flex: 1 1 calc(25% - 20px);
}

@media (width <= 1000px) {
    .product-card {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (width <= 768px) {
    .product-container {
        padding: 0;
        min-width: 100%;
    }

    .product-card {
        padding: 0 0 60px 0;
        max-width: 430px;
        flex: 1 1 calc(100% - 20px);
    }

    .product-card img {
        width: 100%;
        max-height: 430px;
    }

    .product-card .product-info {
        font-size: 1.3rem;
        padding: 0;
        opacity: 1;
        position: static;
    }
}

.product-card img {
    width: 100%;
    height: 100%;
}

.product-card a {
    text-decoration: none;
    color: #000; 
}

.product-card:hover .product-info {
    opacity: 1;
}

.product-card:active .product-inf:active {
    color: none;
}

.product-info {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.7);
    color: #fff;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s;
}

.product-info p, span {
    font-weight: bold;
    color: #000;
}

.product-card .info-mobile {
    display: none;
}