@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Ubuntu:wght@300;400;500;700&display=swap');

@import url('logo.css');
@import url('../../components/paleta/paleta.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: "Ubuntu";
    background-color: var(--primary-color);
}

.background {
    height: 101vh;
    position: fixed;
    width: 101vw;
    background-image: url(../img/fundo/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: rotate 8s infinite alternate linear;
    z-index: 1;
    filter: blur(0.3rem);
    filter: opacity(0.50);
    box-shadow: inset 0px 0px 112px 255px rgba(0,0,0,0.52);   
}

@keyframes rotate {
    100%{
        background-position: 5% 20%;
    }
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 450px;
    padding: 20px 35px;
    border: 1px solid #cccccc65;
    box-shadow: 0px 0px 100px 1px;
    border-radius: 8px;
    background: #f7f7f7;
    z-index: 2;
}

.nav__logo {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1.2rem;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
}

a {
    color: rgb(0, 80, 228);
    text-decoration: none;
    margin-bottom: 10px
}

.entrar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 1em;
    margin-top: 10px;
    text-decoration: none;
    width: 100%;
    padding: 10px;
    background-color: var(--primary-green);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.entrar:hover {
    background-color: var(--secondary-green);
}

.error {
    margin: 5px;
    width: 100%;
    color: red;
}

@media (width <= 540px) {
    form {
        padding: 20px;
        width: 90vw;
    }
  }